services:
  naarad:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - TZ=IST
    networks:
      metaploy-network:
        aliases:
          - naarad
    volumes:
      - nginx-config-volume:/etc/nginx/sites-enabled
      - naarad-cache:/var/cache/ntfy"
    healthcheck:
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:8000/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped

volumes:
  nginx-config-volume:
    external: true
    name: metaploy-nginx-config-volume
  naarad-cache: