$font-family: system-ui, Arial, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    background: linear-gradient(150deg, #101b19 0%, #1d4d43 100%);
    color: #fff;
}