$medium: 1024px;

.ins{
    width: 100vw;
    height: 100vh;
    background-color: #1e1e2c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    .ins-main{
        padding: 2%;
        height: 60%;
        width: 25%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 1em;
        border: solid #000;
        background-color: #1e1e2f;
        .ins-title{
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            .ins-title-name{
                font-size: 6vh;
                font-weight: 900;
                padding-bottom: 5%;
            }
        }
        .ins-info{
            height: 80%;
            .ins-info-title{
                padding-top: 5%;
                font-size: 2.5vh;
                font-weight: 700;
            }
            ol{
                width: 100%;
                padding-left: 2%;
            }
            li{
                
                font-size: 1.5vh;
                padding-bottom: 2%;
                a{
                    color: #fefefe;
                }
                @media screen and (max-width: $medium){
                    font-size: 1.5vh;
                }
            }
        }

        .ins-redrt{
            height: 10%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            color: hsl(215, 20.2%, 65.1%);
            a{
                color: white;
            }
        }

        @media screen and (max-width: $medium){
            height: 70%;
            width: 85%;
            padding: 5%;
        }
    }
}