$medium: 1024px;

.reg{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .reg-main{
        padding: 1.5rem 2rem;
        height: 500px;
        width: 400px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 1em;
        background-color: #212121;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
        text-align: center;

        .reg-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .reg-title-name{
                font-size: 4rem;
                font-weight: 900;
                line-height: 4rem;
            }

            .reg-title-desc{
                font-size: 1rem;
                font-weight: 600;
                color: #94a3b8;
            }

            .reg-status-svg{
                margin-top: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img, svg {
                    height: 100px;
                    width: 100px;
                    display: block;
                }
            }

            .reg-status-title{
                margin-top: 1rem;
                font-size: 1.5rem;
                font-weight: 600;
            }

            .reg-status-text{
                margin-top: -0.3rem;
                display: flex;
                justify-content: center;
                align-items: end;
                font-size: 1.15rem;
                font-weight: 400;
                color: #94a3b8;
            }
        }


        .reg-footer{
            font-size: 1.25rem;
            font-weight: 600;
            a{
                font-size: 1.5rem;
                color: #fff;
                font-weight: 900;
            }
        }
    }
}