@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
$medium: 1024px;

.reg{
    width: 100vw;
    height: 100vh;
    background-color: #1e1e2c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    .reg-main{
        padding: 2%;
        height: 60%;
        width: 25%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 1em;
        border: solid #000;
        background-color: #1e1e2f;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
        .reg-title{
            height: 35%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .reg-title-name{
                font-family: "Titillium Web", sans-serif;
                font-size: 5vh;
                font-weight: 600;
                padding-bottom: 5%;
            }

            .reg-title-desc{
                font-size: 2vh;
                color: hsl(215, 20.2%, 65.1%);
            }
        }

        .reg-status{
            height: 65%;
            margin: 5% 10% 5% 10%;

            .reg-status-title{
                height: 10%;
                font-size: 1.75vh;
                font-weight: 900;
            }

            .reg-status-svg{
                height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    max-height: 95%;
                    max-width: 95%;
                    display: block;
                    height: auto;
                    width: auto;
                }
            }

            .reg-status-text{
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: end;
            }
        }

        .reg-footer{
            font-family: "Titillium Web", sans-serif;
            height: 5%;
            a{
                color: #fff;
            }
        }
        

        @media screen and (max-width: $medium){
            padding: 5%;
            height: 70%;
            width: 80%;
        }
    }
}