$small: 300px;
$medium: 900px;

.reg{
    width: 100vw;
    height: 100vh;
    background-color: #1e1e2c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    .reg-main{
        height: 60%;
        width: 30%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 1em;
        border: solid #000;
        background-color: #1e1e2f;
        .reg-title{
            height: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .reg-title-name{
                font-size: 4rem;
                font-weight: 900;
                padding-bottom: 5%;
            }

            .reg-title-desc{
                font-size: 1.25rem;
                color: hsl(215, 20.2%, 65.1%);
            }
        }
        .reg-input{
            height: 35%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: stretch;
            font-size: 170%;
            input{
                border: none;
                background-color: #1e1e2c;
                height: 100%;
                width: 50%;
                border: solid #fff 1px;
                border-radius: 1rem;
                color: #fff;
                font-size: 80%;
                padding: 1% 4% 1% 4%;
                @media screen and (max-width: $medium){
                    padding: 5% 5% 5% 5%;
                    width: 80%;
                    font-size: 60%;
                }
            }

            .reg-uname, .reg-pswd{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 2%;
                @media screen and (max-width: $medium){
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .pswd-chk{
            height: fit-content;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            .pswd-chk-title{
                font-size: larger;
                font-weight: 900;
            }

            ul{
                width: 30%;
                padding-left: 35%;
            }
        }
        .reg-submit{
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn-reg{
                border: none;
                height: 60%;
                width: 40%;
                border-radius: 1vh;
                font-size: 150%;
                font-weight: 700;
                cursor: pointer;
                background-color: #fefefe;

                &:hover{
                    background-color: #fff;
                }

                @media screen and (max-width: $medium){
                    width: 80%;
                }
            }
        }

        .reg-help{
            height: 5%;
            color: hsl(215, 20.2%, 65.1%);
            a{
                color: #fefefe;
            }
        }

        @media screen and (max-width: $medium){
            height: 70%;
            width: 80%;
        }
    }
}