$medium: 1024px;

.reg{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .reg-main{
        padding: 1.5rem 2rem;
        width: 25%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 1em;
        border: 2px solid #000;
        background-color: #1e1e2f;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
        text-align: center;

        .reg-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            .reg-title-name{
                font-size: 5vh;
                font-weight: 600;
                padding-bottom: 0.2rem;
            }

            .reg-title-desc{
                font-size: 2vh;
                color: hsl(215, 20.2%, 65.1%);
            }
        }

        .reg-status{
            height: 65%;

            .reg-status-title{
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .reg-status-svg{
                height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    max-height: 50%;
                    max-width: 50%;
                    display: block;
                    height: auto;
                    width: auto;
                }
            }

            .reg-status-text{
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                align-items: end;
                font-size: 1.5rem;
                font-size: 600;
            }
        }

        .reg-footer{
            margin-top: 2rem;
            height: 5%;
            a{
                color: #fff;
            }
        }
        

        @media screen and (max-width: $medium){
            padding: 5%;
            height: 70%;
            width: 80%;
        }
    }
}